{
"hard_coded_contacts": [],
"whitelisted_node_ips": null,
"whitelisted_client_ips": null,
"tcp_acceptor_port": 5483,
"service_discovery_port": null,
"bootstrap_cache_name": null,
"force_acceptor_port_in_ext_ep": false,
"network_name": "local_1",
"dev": {
  "disable_external_reachability_requirement": true
  }
}